{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>
        <span>Queries</span>
        <a href="{% url 'query_create' %}" class="btn btn-sm btn-secondary">
            Add query
        </a>
    </h1>

    {% if queries %}
        <ul class="list-group">
            {% for query in queries %}
                <li class="list-group-item d-flex justify-content-between">
                    <a href="{% url 'query_detail' query.pk %}">
                        {{ query }}
                    </a>

                    {% if query.keywords %}
                    <div class="ml-auto">
                        {% for keyword in query.keywords.all %}
                            <span class="badge badge-light text-dark ml-1">{{ keyword }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock content %}