{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="h2">
            <span>
                {{ question.title }}
            </span>

            <a href="{% url 'question_update' question.pk %}" class="btn btn-sm btn-secondary">
                Edit
            </a>
        </h1>

        {% if question.keywords.all %}

            {% for keyword in question.keywords.all %}
                <span class="badge badge-light text-dark ml-1">{{ keyword }}</span>
            {% endfor %}

        {% endif %}

        <p>{{ question.description }}</p>
        
        {% if question.queries.all %}
            <h2 class="h3">Related Queries</h2>

            <ul>
                {% for query in question.queries.all %}
                    <li>
                        <a 
                            href="{% url 'query_detail' query.pk %}">
                            {{ query }}
                        </a> 
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}